/* initData 样式 开始 */

.initData {
    position: absolute;
    left: 0px;
    top: 180px;
    margin-top: -12px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: url(../../images/layer_loading.gif) no-repeat 35% center;
}

.initData.onerror {
    color: #E0262A;
    font-weight: bold;
    background: none;
}

.initData.onerror a {
    color: #2F6FAC;
    text-decoration: underline;
}

.initData.onerror a:hover {
    color: #245586;
}

/* initData 样式 结束 */

/** 正文内容 开始 **/
.container {
    display:none;
    height: 499px;
    overflow: hidden;
    font-size: 14px;
}

.container .header {
    line-height: 30px;
    font-size: 12px;
    margin: 0 20px;
}

.container .header font {
    margin-right: 10px;
}

.container .content {
    height: 447px;
    width: auto;
    overflow-x: hidden; 
    overflow-y: auto;
    margin: 0 20px;
    padding:10px 15px;
    border: 1px solid #EAEAEA;
    /*white-space: normal;*/
    background: #F7F7F7;
}

.container .content p {
    display: block;
    /*margin-left: 20px;*/
    padding: 5px 10px;
    word-break:break-all;
    text-indent: 2em;
    /*background: #F7F7F7;*/
    line-height: 25px;
}

.container .content textarea {
    padding: 5px 10px;
    width: 102%;
    margin-bottom: -5px;
    background: #F7F7F7;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container .content .content-note {
    padding: 5px 10px;
    font-size: 10px;
    color: #666;
    word-break: break-all;
}

.container .content .content-img {
    display: inline-block;
    width: 150px;
    height: 100px;
    line-height: 100px;
    margin: 7px;
    border: 1px solid #DBDBDB;
    text-align: center;
}

.container .content img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.container .media {
    height: 60px;
}

/** 正文内容 结束 */
